<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.logic.demo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.page.ViewBindingActivity"></activity>
        <activity android:name=".learn.android.demo.jetpack.JetpackActivity" />
        <activity
            android:name=".learn.android.demo.material.FruitActivity"
            android:theme="@style/HideAppBar" />
        <activity
            android:name=".learn.android.demo.material.MaterialActivity"
            android:label="Fruits"
            android:theme="@style/HideAppBar" />
        <activity android:name=".learn.android.demo.webview.WebviewActivity" />
        <activity android:name=".learn.android.demo.service.ServiceActivity" />

        <service
            android:name=".learn.android.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".learn.android.service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".learn.android.demo.thread.ThreadActivity" />
        <activity android:name=".learn.android.demo.video.VideoActivity" />
        <activity android:name=".learn.android.demo.audio.AudioActivity" />
        <activity android:name=".learn.android.demo.camera.CameraActivity" />
        <activity android:name=".learn.android.demo.notification.NotificationActivity" />
        <activity android:name=".learn.android.demo.contacts.ContactsActivity" />
        <activity android:name=".learn.android.demo.runtime.permission.PermissionActivity" />
        <activity android:name=".learn.android.demo.broadcast.BroadcastMainActivity" />
        <activity android:name=".learn.android.demo.broadcast.LoginActivity" />

        <receiver
            android:name=".learn.android.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".learn.android.receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.logic.demo.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".learn.android.receiver.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.logic.demo.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".learn.android.demo.news.NewsContentActivity" />
        <activity android:name=".learn.android.demo.news.ActivityNews" />
        <activity android:name=".learn.android.layout.RecyclerViewDemo" />
        <activity android:name=".learn.android.layout.StaggeredGridDemo" />
        <activity android:name=".learn.android.fragment.FragmentDemo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learn.android.ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".learn.android.SecondActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.logic.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.logic.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".learn.android.FirstActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.logic.demo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>